<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BG_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{7, 440}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BG_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 110}</string>
			<key>spriteSize</key>
			<string>{480, 100}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{7, 330}, {480, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BG_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 274}, {480, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -137}</string>
			<key>spriteSize</key>
			<string>{480, 46}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{13, 166}, {480, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BG_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 17}, {480, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 98}</string>
			<key>spriteSize</key>
			<string>{480, 90}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{10, 224}, {480, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BG_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{239, 37}, {194, 98}}</string>
			<key>spriteOffset</key>
			<string>{96, 74}</string>
			<key>spriteSize</key>
			<string>{194, 98}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 29}, {194, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bomb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {24, 28}}</string>
			<key>spriteOffset</key>
			<string>{-217, 139}</string>
			<key>spriteSize</key>
			<string>{24, 28}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{28, 60}, {24, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Explosion.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {118, 66}}</string>
			<key>spriteOffset</key>
			<string>{-178, 119}</string>
			<key>spriteSize</key>
			<string>{118, 66}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 34}, {118, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plane.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {34, 16}}</string>
			<key>spriteOffset</key>
			<string>{-219, 149}</string>
			<key>spriteSize</key>
			<string>{34, 16}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{21, 26}, {34, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Targets.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {74, 34}}</string>
			<key>spriteOffset</key>
			<string>{-202, 140}</string>
			<key>spriteSize</key>
			<string>{74, 34}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{31, 115}, {74, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>